/* CSS for About page */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
:root{
    --primary-color: #58, 71, 152;
    --secondary-color: #131, 133, 163;
    --accent1-color: #107, 109, 126;
    --accent2-color: #28, 31, 98;

    --heading-font: 'Rock Salt', cursive; 
    --paragraph-font: 'Rock Salt', cursive;
    --heading-font-color: red; 
    --paragraph-font-color: purple;


    --nav-background-color: var(--accent2-color);
    --nav-link-color: blue;
    --nav-hover-link-color: green;
    --nav-hover-background-color:var(--secondary-color);
}
a {
  text-decoration: none;
  color: blue;

}
 nav {
  display: flex;
  justify-content: space-around;
  text-align: right;
  text-decoration: none;
  text-decoration-color: blue;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-left: 30px;
  padding-right: 30px;

 }
 .hero img{
    display: block;
    width: 100%;
    height: auto; 
    position: relative;
 }



 article img {

    float: right;
 }

 header {
   margin: auto;
   display: grid;
   grid-template-columns: 120px, 1fr, 2fr;
   align-items: center;
   border-bottom: 1px solid black;
   max-width: 1000px;

 }

 figure {
  display: flex;
  justify-content: space-around;
  justify-content: end;
 }


 .logo {
  max-block-size: 80px;

 }


 a {
display: flex;
align-items: stretch;

}

figure {
display: grid;
justify-content: space-around;
justify-content: center;
  max-width: 500px;
  max-height: 500px;

}