/* Cascading Sheet Style for White Water Adventure */
/* Font style for webpage */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rock+Salt&display=swap');
:root{
    --primary-color: #58, 71, 152;
    --secondary-color: #131, 133, 163;
    --accent1-color: #107, 109, 126;
    --accent2-color: #28, 31, 98;

    --heading-font: 'Rocksalt'serif; 
    --paragraph-font: 'Rocksalt'serif;

    --nav-background-color: #XXXXXX;
    --nav-link-color: #XXXXXX;
    --nav-hover-link-color: #XXXXXX;
    --nav-hover-background-color: #XXXXXX
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:var(--primary-color)
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--navlink-color);
    text-decoration: naone;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
